@{
    ViewData["Title"] = "Lista [Editar]";
    WebApp.Frontend.Models.Domain.Lista data = (WebApp.Frontend.Models.Domain.Lista)ViewData["ListaModel"];
}
<div class="text-center">
    <h1 class="display-4">Editar Lista</h1>
</div>
<div>
    <form>
        <div class="mb-3">
            <label for="idLista" class="form-label">Codigo</label>
            <input type="email" class="form-control" id="idLista" aria-describedby="Codigo" readonly value="@data.ListaId">
        </div>
        <div class="mb-3">
            <label for="fechaCreacion" class="form-label">Creaccion</label>
            <label id="fechaCreacion">@data.FechaCreacion</label>
        </div>
        <div class="mb-3">
            <label for="fechaUpdate" class="form-label">Modificacion</label>
            <label id="fechaUpdate">@data.FechaUpdate</label>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" aria-describedby="Descripcion" value="@data.Descripcion">
        </div>
        <button type="button" class="btn btn-primary" onclick="Modificar();">Guardar</button>
        <a class="btn btn-secondary" href="/">Regresar</a>
    </form>
</div>
<script>
    var resultado;
    function Modificar() {
        var id = $("#idLista").val();
        var descripcion = $("#descripcion").val();
        if (descripcion != "") {
            save(descripcion, id);
        }
        else {
            alert("Descripcion Vacia");
        }
    }
    function save(descripcion,id) {
        var urlGetLista = '@Url.Action("ModificarLista", "Lista")';
        console.log("Ejecutando");
        $.ajax({
            url: urlGetLista,
            type: 'POST',
            data: { descripcion:descripcion,id:id},
            success: function (result) {
                console.log(result);
                alert("Datos Actualizados con Exito");
                location.reload();
            },
            error: function (httpResponse, e) {

            },
            complete: function (result) {

            }
        });
    }
</script>